@import '../common.scss';

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Tahoma, sans-serif;
}

.filter-container {
  @include flex(flex-start, center);

  gap: 20px;

  input {
    width: 200px;
  }
}

.head_pill {
  padding: 2px 5px;
  margin-left: 10px;
  border: 1px solid $primary-blue;
  color: $primary-blue;
  border-radius: 10px;
}
