@import 'src/styles/common.scss';

.container {
  max-width: 1440px;
  margin: 20px auto;
}

.header {
  @include flex(space-between, center);

  margin-bottom: 20px;
}

.buttons {
  @include flex(flex-end, center);

  gap: 20px;

  button {
    min-width: 120px;
  }
}
